{% load i18n %}
{% if research_category %}
<div id="research_filter" class="tabs-left">
	<ul class="nav nav-tabs text-sm" style="width:20%;">
		{% for i in research_category %}
		<li>
			<a href="#tabs_{{ i.id }}" data-toggle="tab">{{ i }}</a>
		</li>
		{% endfor %}
	</ul>
	<div class="tab-content">
		{% for i in research_category %}
  	<div class="tab-pane" id="tabs_{{ i.id }}">
			<div style="margin-bottom:10px;"></div>
  		<table class="table table-bordered table-hover table-striped text-sm" style="width:77.5%;">
  			<thead>
  				<tr>
  					<th>{% trans '№' %}</th>
  					<th>{% trans 'Cудалгааны нэр' %}</th>
  					<th>{% trans 'Судлаачийн нэр' %}</th>
  					<th>{% trans 'Огноо' %}</th>
  					<th>{% trans 'Үзэх' %}</th>
  				</tr>
  			</thead>
  			<tbody>
  				{% for s in i.research_list %}
  				<tr>
  					<td>{{ forloop.counter }}</td>
  					<td>{{ s.name }}</td>
  					<td>{{ s.author_name }}</td>
  					<td>{{ s.date|date:"Y-m-d H:i" }}</td>
  					<td><a href="/media/{{ s.pdf_file }}" target="_blank">{% trans 'Үзэх' %}</a></td>
  				</tr>
  				{% endfor %}		
  			</tbody>
  		</table>
  	</div>
		{% endfor %}
  </div>
</div>
{% else %}
{% trans 'Өгөгдөл байхгүй байна' %}
{% endif %}