<nav id="header" class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'web:home' %}">Monex</a>
    </div>
    <div class="collapse navbar-collapse" style="margin-left: 200px;">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{% url 'platform:home' pk %}">АРИЛЖАА</a></li>
        <li><a href="{% url 'platform:news' pk %}">МЭДЭЭЛЭЛ, СУДАЛГАА</a></li>
        <li><a href="#">ДАНС</a></li>
      </ul>
      <form class="navbar-form navbar-nav">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Хайх">
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-envelope"></span></a></li>
        <li><a href="#"><span class="glyphicon glyphicon-bell"></span></a></li>
        <li><a href="{% url 'user:logout' %}">Системээс гарах</a></li>
      </ul>
    </div>
  </div>
</nav>
