{% extends 'platform/base.html' %}
{% block content %}
<div class="container-fluid watchlist">
  <div class="row">
    <div class="col-lg-6">
      <div class="watchlist-panel panel panel-default">
        <div class="panel-heading">
          <ul class="list-inline">
            <li class="active"><a class="ajax-load" load-url="{% url 'platform:currency' pk %}" href="#watchlist">Валют</a></li>
            <li><a class="ajax-load" load-url="{% url 'platform:stock' pk %}" href="#watchlist">Хувьцаа</a></li>
            <li><a class="ajax-load" load-url="{% url 'platform:alert' %}" href="#watchlist">Сэрүүлэг</a></li>
          </ul>
        </div>
        <div id="watchlist" class="panel-body scrolling">
          {% include 'platform/trade/currency.html' %}
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="watchlist-panel panel panel-default">
        <div class="panel-heading">
          <ul class="list-inline">
            {% comment %}
            <li class="active"><a href="#overview"><span class="active">Overview</span></a></li>
            {% endcomment %}
            <li class="active"><a href="#chart"><span>Chart</span></a></li>
          </ul> 
        </div>
        <div class="panel-body scrolling">
          <div id="chartContainer" style="height: 99.8%; width: 100%;"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="watchlist-panel panel panel-default">
        <div class="panel-heading">
          <ul class="list-inline">
            <li class="active">
              <a class="ajax-load" load-url="{% url 'platform:currency_value' pk %}" href="#value">
                Валют
              </a>
            </li>
            <li>
              <a class="ajax-load" load-url="{% url 'platform:stock_value' pk %}" href="#value">
                Хувьцаа
              </a>
            </li>
            <li>
              <a class="ajax-load" load-url="{% url 'platform:stock' pk %}" href="#value">
                Захиалга
              </a>
            </li>
          </ul>
        </div><!-- panel-heading -->
        <div class="scrolling panel-body" id="value">
          {% include "platform/trade/position_currency.html" %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block extrajs %}
<script type="text/javascript">
  window.onload = function() {
    var chart = new CanvasJS.Chart("chartContainer", {
      axisX: {
        interval: 10
      },
      backgroundColor: "#333",
      data: [{
        type: "line",
        dataPoints: [
        { x: 10, y: 45 },
        { x: 20, y: 14 },
        { x: 30, y: 20 },
        { x: 40, y: 60 },
        { x: 50, y: 50 },
        { x: 60, y: 80 },
        { x: 70, y: 40 },
        { x: 80, y: 60 },
        { x: 90, y: 10 },
        { x: 100, y: 50 },
        { x: 110, y: 40 },
        { x: 120, y: 14 },
        { x: 130, y: 70 },
        { x: 140, y: 40 },
        { x: 150, y: 90 },
        ]
      }]
    });
    chart.render();
  }
</script>
{% endblock %}