{% extends 'manager/base.html' %}
{% load i18n %}
{% block content %}
<section class="content-header">
  <h1>{% trans 'Сургалт устгах' %}</h1>
  <ol class="breadcrumb">
    <li><a href="{% url 'manager:manager_home' %}"><i class="fa fa-dashboard"></i> {% trans 'Нүүр' %}</a></li>
    <li><a href="{% url 'manager:lesson_list' %}">{% trans 'Сургалт' %}</a></li>
    <li class="active">
    	{% trans 'Сургалт устгах' %}
    </li>
  </ol>
</section>
<div class="content">
	<div class="row">
		<div class="col-md-12">
			<div class="box">
				<form method="post">{% csrf_token %}
					<div class="box-body">
						{% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
            <div class="alert alert-danger alert-dismissible">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <i class="icon fa fa-ban"></i> {{ error }}
            </div>
            {% endfor %}
            {% endif %}
            {% for f in form %}
            <div class="form-group {% if f.errors %}has-error{% endif %} has-feedback">
              {% if f.errors %}
              <label class="control-label errors" for="inputError"><i class="fa fa-times-circle-o"></i>
                {% for error in f.errors %}
                  {{ error }}
                {% endfor %}
              </label>
              {% endif %}
              {{ f }}
            </div>
            {% endfor %}
					</div>
					<div class="box-footer">
						<div class="pull-right">
							<button type="submit" class="btn btn-danger btn-flat">{% trans 'Устгах' %}</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}