{% extends 'manager/base.html' %}
{% load i18n %}
{% block content %}
<section class="content-header">
  <h1>
    {% trans 'Сургалт' %}
    {% if user.is_lesson_create %}
    <a href="{% url 'manager:lesson_create' %}"><i class="fa fa-plus"></i></a>
    {% endif %}
  </h1>
  <ol class="breadcrumb">
    <li><a href="{% url 'manager:manager_home' %}"><i class="fa fa-dashboard"></i> {% trans 'Нүүр' %}</a></li>
    <li class="active">{% trans 'Сургалт' %}</li>
  </ol>
</section>
<div class="content">
	<div class="row">
		<div class="col-md-12">
			<div class="box">
				<div class="box-body">
					<table id="lesson_table" class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>№</th>
                <th>Ангилал</th>
                <th>Нэр</th>
                <th>Хаяг</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for lesson in lessons %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ lesson.category }}</td>
                <td>{{ lesson.title }}</td>
                <td><a href="{{ lesson.url }}">{{ lesson.url }}</a></td>
                <td>
                  {% if user.is_lesson_update %}
                  <a href="{% url 'manager:lesson_update' lesson.id %}" class="btn btn-flat btn-primary btn-xs">
                    <i class="fa fa-edit"></i> Засварлах
                  </a>
                  {% endif %}
                  {% if user.is_lesson_delete %}
                  <a href="{% url 'manager:lesson_delete' lesson.id %}" class="btn btn-flat btn-danger btn-xs">
                    <i class="fa fa-edit"></i> Устгах
                  </a>
                  {% endif %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block extrajs %}
<script type="text/javascript">
  $(document).ready(function(){
    managerDatatable('#lesson_table');
  });
</script>
{% endblock %}