{% extends 'user/base/base.html' %}
{% block content %}
<body class="hold-transition login-page">
  <div class="login-box">
    <div class="login-logo">
      <b>Monex</b>
    </div>
    <div class="login-box-body">
      <p class="login-box-msg">Нэвтрэх цонх</p>
      <form method="post">{% csrf_token %}
        {% include 'user/form.html' %}
        <div class="row">
          <div class="col-xs-8"><a href="{% url 'user:password_reset' %}">Нууц үгээ мартсан</a></div>
          <div class="col-xs-4"><a href="{% url 'user:register' %}">БҮРТГҮҮЛЭХ</a></div>
          <div class="col-xs-12">
            <button type="submit" class="btn btn-primary btn-block btn-flat">Нэвтрэх</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</body>
{% endblock %}
