{% extends 'web/base.html' %}
{% block content %}
<div class="wall">
	<h3 class="title">
		<a class="btn btn-default" href="{% url 'room' %}"><i class="fa fa-arrow-circle-left"></i> Буцах </a>
		{{ messages.0.room.name }}
	</h3>
	<section id="message-body">
		{% for message in messages %}
		<p>
			{{ message.user }} : {{ message }}
		</p>
		{% endfor %}
	</section>
</div>
<div class="wall">
	<form class="" id="message-form" method="post">{% csrf_token %}
		<div style="width:90%;">{{ form }}</div>
		<input style="margin-top:-35px;" type="submit" class="btn btn-success pull-right" value="Илгээх">
	</form>
</div>
{% endblock %}
{% block stock %}
{% endblock %}
{% block rightcontent %}
{% endblock %}
{% block extrajs %}
<script type="text/javascript">
	
	$('#message-form').submit(function(){
		$('#id_content').val('');
		$("#message-body").animate({
  		scrollTop: $('#message-body')[0].scrollHeight - $('#message-body')[0].clientHeight + 40
		}, 1000);
	})

	var aaa = function(){
	  $.ajax({
	    type : 'GET',
	    url : '/chat/message/{{ room_id }}',
	    success: function (xhr, ajaxOptions, thrownError) {
	      //alert(xhr.length);
	      var x = ''
	      for(i=0;i<xhr.length;i++){
	        x += '<p>'+ xhr[i].user+ ' : ' + xhr[i].msg +'</p>';
	        //$('#message-body').html('<p style="font-weight:bold;">'+ xhr[i].user+ ' : ' + xhr[i].msg +'</p><br/>');
	      }
	      $('#message-body').html(x);

	    },
	    error: function (xhr, ajaxOptions, thrownError) {
	    }
	  });
	};
	
	$(document).ready(function(){
		var interval = 1000; // 1 secs
		setInterval(aaa, interval);
		$("#message-body").animate({
  		scrollTop: $('#message-body')[0].scrollHeight - $('#message-body')[0].clientHeight
		}, 1000);
	});
	
</script>
<style type="text/css">
	#message-body {
		border:1px solid black;
		height: 300px;
		padding:10px;
		overflow:auto;
	}
</style>
{% endblock %}
{% block footer %}{% endblock %}