{% extends 'competition/base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">

			<div class="col-md-4">
				<div class="tabbable tabs-left">
					<ul class="nav nav-tabs">
						<li class="active"><a href="#info" data-toggle="tab">Хувийн мэдээлэл</a></li>
						<li><a href="#accinfo" data-toggle="tab">Дансны мэдээлэл</a></li>
						<li><a href="#tradinfo" data-toggle="tab">Дансны Хуулга</a></li>
						<li><a href="#competinfo" data-toggle="tab">Тэмцээний Мэдээлэл</a></li>
						<li><a href="#compethistory" data-toggle="tab">Тэмцээнд оролцсон түүх</a></li>							
					</ul>
				</div>
			</div>
			<div class="col-md-8">
				<div class="tab-content">
					<div class="tab-pane active" id="info">
						
						<table>
							<tr>
								<th>Name:</th>
								<td>Bill Gates</td>
							</tr>
							<tr>
								<th>Telephone:</th>
								<td>555 77 854</td>
							</tr>
							<tr>
								<th>Telephone:</th>
								<td>555 77 855</td>
							</tr>
						</table>
					</div>
					<div class="tab-pane" id="accinfo">
						999999999999999999999999999999999999999999999
					</div>
					<div class="tab-pane" id="tradinfo">
						Secondo sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
						Aliquam in felis sit amet augue.
					</div>
					<div class="tab-pane" id="tab4">
						8888888888888888888888888888888888
					</div>
					<div class="tab-pane" id="compethistory">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>№</th>
									<th>Овог</th>
									<th>Нэр</th>
									<th>Регистр</th>
									<th>Зэрэглэл</thг>
										<th>Өсөлтийн дүн</th>
										<th>Өсөлтийн хувь</th>
										<th>Эзэлсэн Байр<th>
											<th>Шагнал</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>1</td>
											<td>Шинэст ХХК</td>
											<td>NRS</td>
											<td>үзэх</td>
											<td>2</td>
											<td>Хөх Ган</td>
											<td>HGN</td>
											<td>үзэх</td>
											<td>үзэх</td>
										</tr>
										<tr>
											<td>3</td>
											<td>Шинэст ХХК</td>
											<td>NRS</td>
											<td>үзэх</td>
											<td>2</td>
											<td>Хөх Ган</td>
											<td>HGN</td>
											<td>үзэх</td>
											<td>үзэх</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>	
					</div>
				</div>
			</div>
		</div>



		{% endblock %}

<!--
					<ul class="nav nav-pills nav-stacked">
						<li class="active"><a href="#">Home</a></li>
						<li class="dropdown">
							<a data-toggle="collapse" href="#drop">Menu 1 <span class="caret"></span></a>
							<ul id="drop" class="nav nav-pills nav-stacked panel-collapse collapse in">
								<li><a href="" class="list-group-item">Submenu1</a></li>
								<li><a href="" class="list-group-item">Submenu2</a></li>
								<li><a href="" class="list-group-item">Submenu3</a></li>
							</ul>
						</li>
						<li><a href="#">Menu 2</a></li>
						<li><a href="#">Menu 3</a></li>
					</ul>
				</div>
			</div>
		-->
------------------------------------------------------------------
{% extends 'competition/base.html' %}
{% load static %}
{% block content %}
<div class="container">
	<div class="col-sm-2">
    <nav class="nav-sidebar">
		<ul class="nav tabs">
          <li class="active"><a href="#tab1" data-toggle="tab">Lorem ipsum</a></li>
          <li class=""><a href="#tab2" data-toggle="tab">Dolor asit amet</a></li>
          <li class=""><a href="#tab3" data-toggle="tab">Stet clita</a></li>                               
		</ul>
	</nav>
		<div><h2 class="add">Place for your add!</h2></div>
</div>
<!-- tab content -->
<div class="tab-content">
<div class="tab-pane active text-style" id="tab1">
  <h2>Lorem ipsum</h2>
       <p>
         Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
         standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make 
         a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining 
         essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
         and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.  
       </p>
       <hr>
      <img src="http://placehold.it/350x250" class="img-rounded pull-right">   
</div>
<div class="tab-pane text-style" id="tab2">
  <h2>Dolor asit amet</h2>
   <p>Dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt 
    ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo 
    dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. 
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore 
    et dolore magna aliquyam erat, sed diam voluptua.</p>
    <hr>
          <img src="http://placehold.it/150x90" class="img-rounded pull-left">
</div>
<div class="tab-pane text-style" id="tab3">
  <h2>Stet clita</h2>
  <p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Duis autem vel eum 
    iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla 
    facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit 
    augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet,</p>
    <hr>
    <div class="col-xs-6 col-md-3">
      <img src="http://placehold.it/150x150" class="img-rounded pull-right">
  </div>
</div>
</div>
    
    
</div>

    {% endblock %}
    
        <div class="col-md-6">
            <h3>Pills right</h3>

            <!-- tabs right -->
            <div class="tabbable">
                <ul class="nav nav-pills nav-stacked col-sm-3 col-sm-push-9">
                    <li class="active"><a href="#d" data-toggle="tab">One</a></li>
                    <li><a href="#e" data-toggle="tab">Two</a></li>
                    <li><a href="#f" data-toggle="tab">Twee</a></li>
                </ul>
                <div class="tab-content col-sm-9  col-sm-pull-3">
                    <div class="tab-pane active" id="d">Lorem ipsum dolor sit amet, rci quis tortor imperdiet venenatischaretra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero.</div>
                    <div class="tab-pane" id="e">Secondo sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor rci quis tortor imperdiet venenatis. Aliquam in felis sit amet augue.</div>
                    <div class="tab-pane" id="d">Thirdamuno, ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae. </div>
                </div>
            </div>
            <!-- /tabs -->

        </div>