*.pyc
local_settings.py
app/competition/migrations/
app/manager/migrations/
app/user/migrations/
app/web/migrations/
app/chat/migrations/
app/online_support/migrations/
.store/
monex.sqlite
media/
monex/local_settings.py
