{% extends 'manager/base.html' %}
{% load i18n %}
{% block content %}
<section class="content-header">
  <h1>
    {% trans 'Тэмцээний ангилал' %}
    <a data-modal="modalview" href='{% url "manager:mymodal"%}'>
      <i class="fa fa-plus-circle"></i>
    </a>
  </h1>
  <ol class="breadcrumb">
    <li><a href="{% url 'manager:manager_home' %}"><i class="fa fa-dashboard"></i> {% trans 'Нүүр' %}</a></li>
    <li class="active">{% trans 'Тэмцээний ангилал' %}</li>
  </ol>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="info-box bg-aqua">
        <span class="info-box-icon"><i class="fa fa-bookmark-o"></i></span>
        <div class="info-box-content">
          <span class="info-box-text text-sm">Хамгийн их хэрэглэгч бүртгүүлсэ тэмцээн</span>
          <span class="info-box-number">41,410</span>
          <div class="progress">
            <div class="progress-bar"></div>
          </div>
          <span class="progress-description">
            70% Increase in 30 Days
          </span>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="info-box bg-green">
        <span class="info-box-icon"><i class="fa fa-thumbs-o-up"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">Likes</span>
          <span class="info-box-number">41,410</span>
          <div class="progress">
            <div class="progress-bar" style="width: 70%"></div>
          </div>
          <span class="progress-description">
            70% Increase in 30 Days
          </span>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="info-box bg-yellow">
        <span class="info-box-icon"><i class="fa fa-calendar"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Events</span>
          <span class="info-box-number">41,410</span>

          <div class="progress">
            <div class="progress-bar" style="width: 70%"></div>
          </div>
              <span class="progress-description">
                70% Increase in 30 Days
              </span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    {% comment %}
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box bg-red">
        <span class="info-box-icon"><i class="fa fa-comments-o"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Comments</span>
          <span class="info-box-number">41,410</span>

          <div class="progress">
            <div class="progress-bar" style="width: 70%"></div>
          </div>
              <span class="progress-description">
                70% Increase in 30 Days
              </span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
    {% endcomment %}
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="space10"></div>
      <div class="box">
        {% comment %}
        <div class="box-header">
          <h3 class="box-title">
            {% trans 'Тэмцээний ангилал' %}
            <a href="{% url 'manager:manager_rank_create' %}"><i class="fa fa-plus-circle"></i></a>
            <a data-modal="modalview" class='btn btn-primary btn-flat' href='{% url "manager:mymodal"%}'>
              {% trans 'Ангилал' %} <i class="fa fa-plus-circle"></i>
            </a>
          </h3>
        </div>
        {% endcomment %}
        <div class="box-body">
          <table id="rank_table" class="table table-bordered table-striped table-hover text-sm">
            <thead>
              <tr>
                <th>№</th>
                <th>PK</th>
                <th>Ангилал</th>
                <th>Хураамж</th>
                <th>Шагналын сан</th>
                <th>Түүх харах</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for o in object_list %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ o.id }}</td>
                <td>{{ o.name }}</td>
                <td>{{ o.fee }}</td>
                <td><a href="#shagnal_{{ o.id }}" data-toggle="modal">Шагналын сан</a></td>
                <td><a href="#history_{{ o.id }}" data-toggle="modal">Түүх</a></td>
                <td>
                  {% comment %}
                  <a href="{% url 'manager:manager_rank_update' o.id %}" class="btn btn-flat btn-primary btn-xs">
                    <i class="fa fa-edit"></i> Засварлах
                  </a>
                  {% endcomment %}
                  <a href="{% url 'manager:mymodal_update' o.id %}" data-modal="modalview" class="btn btn-xs btn-primary btn-flat">
                    <i class="fa fa-edit"></i> {% trans 'Засварлах' %}
                  </a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="box-footer">
          <div class="pull-right">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% for o in object_list %}
<div class="modal fade" id="shagnal_{{ o.id }}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Шагналын сан</h4>
      </div>
      <div class="modal-body">
        {{ o.shagnal|safe }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-flat" data-dismiss="modal">Хаах</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="history_{{ o.id }}">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Түүх</h4>
      </div>
      <div class="modal-body">
        {% if o.history.all %}
        <table class="table table-bordered table-striped table-hover">
          <thead>
            <tr>
              <th>Ангилал</th>
              <th>Хураамж</th>
              <th>Хэн</th>
              <th>Хэзээ</th>
              <th>Төлөв</th>
            </tr>
          </thead>
          <tbody>
            {% for i in o.history.all %}
            <tr>
              <td>{{ i.name }}</td>
              <td>{{ i.fee }}</td>
              <td>{{ i.history_user }}</td>
              <td>{{ i.history_date|date:"Y-m-d H:i:s" }}</td>
              <td>
                {% if i.history_type == "+" %}
                {% trans 'Үүсгэсэн' %}
                {% elif i.history_type == "~" %}
                {% trans 'Засварласан' %}
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        Түүх байхгүй байна
        {% endif %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-flat" data-dismiss="modal">Хаах</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}
{% block extrajs %}
<script type="text/javascript">
  $(document).ready(function(){
    managerDatatable("#rank_table");
    $('ul.pagination').addClass('pagination-sm pull-right');
  });
</script>
{% endblock %}