<h1>Provider Dashboard</h1>   
<a href="http://idp.example.com:8090/openam/idpssoinit?metaAlias=/idp&spEntityID=http://sp.example.com:8080/opensso&binding=urn:oasis:names:tc:SAML:2.0:bindings:HTTP-REDIRECT&RelayState=http://localhost:8020/platform">
    Report an issue
</a><br>
<a href="http://idp.example.com:8090/openam/idpssoinit?metaAlias=/idp&spEntityID=http://sp.example.com:8080/opensso&binding=urn:oasis:names:tc:SAML:2.0:bindings:HTTP-REDIRECT&RelayState=http://localhost:8010{% url 'chat:room' %}">
    test
</a><br>
<a href="http://idp.example.com:8090/openam/IDPMniInit?metaAlias=/idp&spEntityID=http://sp.example.com:8080/opensso&requestType=Terminate&RelayState=http://localhost:8010">
    Terminate federation
</a><br>
<a href="http://idp.example.com:8090/openam/IDPSloInit?binding=urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect&RelayState=http://localhost:8010/user/logout">
    Logout
</a><br>