{% load static %}
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Monex</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" href="{% static 'web/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" href="{% static 'web/favicon-32x32.png" sizes="32x32' %}"/>
  <link rel="icon" type="image/png" href="{% static 'web/favicon-16x16.png" sizes="16x16' %}"/>
  <link rel="stylesheet" href="{% static 'web/css/normalize.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'web/css/jquery.fancybox.css' %}">
  <link rel="stylesheet" href="{% static 'web/css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'web/css/queries.css' %}">
  <link rel="stylesheet" href="{% static 'web/bower_components/animate.css/animate.min.css' %}">
  <link href="/static/css/font-awesome.min.css" rel="stylesheet">
  <script src="{% static 'web/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
</head>
<body id="top">
  <!--[if lt IE 8]>
  <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <section class="hero">
    <section class="navigation">
      <header>
        <div class="header-content">
          <div class="logo"><a href="#top">MONEX</a></div>
          <div class="header-nav">
            <nav>
              <ul class="primary-nav">
                {% if user.is_authenticated %}
                <li><a href="{% url 'user:home' %}">Хянах самбар</a></li>
                {% endif %}
                <li><a href="#categorys">Мэдээлэл</a></li>
                <li><a href="#categorys">Судалгаа</a></li>
                <li><a href="#categorys">Cургалт</a></li>
                <li><a href="{% url 'chat:room' %}">Форум</a></li>
              </ul>
              <ul class="member-actions">
                {% if user.is_authenticated %}
                <li class="dropdown">
                  <a href="javascript:;" class="login" data-toggle="dropdown">{{ user }}
                  <span class="caret"></span></a>
                  <ul class="dropdown-menu pull-right">
                    <li><a href="{% url 'password_change' %}">Нууц үг солих</a></li>
                    <li class="divider"></li>
                    <li><a href="{% url 'user:logout' %}">Системээс гарах</a></li>
                  </ul>
                </li>
                <li><a href="{% url 'web:competition_calendar' %}" class="btn-white btn-small">Тэмцээн</a></li>
                {% else %}
                <li><a href="{% url 'user:login' %}" class="login">Нэвтрэх</a></li>
                <li><a href="#login" class="btn-white btn-small">Бүртгүүлэх</a></li>
                {% endif %}
              </ul>
            </nav>
          </div>
          <div class="navicon">
            <a class="nav-toggle" href="#"><span></span></a>
          </div>
        </div>
      </header>
    </section>
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="hero-content text-center">
            <h2>Monex гэж юу вэ?</h2>
            <iframe width="620" height="415" src="//www.youtube.com/embed/9B7te184ZpQ?rel=0"></iframe><br>
            <a style="margin-top:10px;" href="#login" class="btn btn-ghost btn-large">Бүртгүүлэх</a>
          </div>
        </div>
      </div>
    </div>
    <div class="down-arrow floating-arrow"><a href="#"><i class="fa fa-angle-down"></i></a></div>
  </section>
  <section class="intro section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-4 intro-feature">
          <div class="intro-icon">
            <span class="icon fa fa-youtube-play"></span>
          </div>
          <div class="intro-content">
            <h5>Бодит өгөгдөл дээр</h5>
            <p>{% lorem 20 w %}</p>
          </div>
        </div>
        <div class="col-md-4 intro-feature">
          <div class="intro-icon">
            <span class="icon fa fa-lightbulb-o"></span>
          </div>
          <div class="intro-content">
            <h5>Эдийн засгийн мэдлэг</h5>
            <p>{% lorem 20 w %}</p>
          </div>
        </div>
        <div class="col-md-4 intro-feature">
          <div class="intro-icon">
            <span class="icon fa fa-youtube-play"></span>
          </div>
          <div class="intro-content last">
            <h5>Мөнгөн урамшуулалтай</h5>
            <p>{% lorem 20 w %}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="hero-strip section-padding">
    <div class="container-fluid">
      <div class="col-md-12 text-center">
        <h2>
        Монголын хамгийн анхны форекс платформ
        </h2>
        <p>{% lorem 10 w %}</p>
        <a href="#" class="btn btn-ghost btn-accent btn-large">Тоглох!</a>
        <div class="logo-placeholder floating-logo"><img src="/static/web/img/sketch-logo.png" alt="Sketch Logo"></div>
      </div>
    </div>
  </section>
  <section class="blog-intro section-padding" id="blog">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3>Тоглолт хэрхэн явагдах вэ?</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12 leftcol">
          <h5>ВАЛЮТ</h5>
          <p>{% lorem %}</p>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12 rightcol">
          <h5>ХУВЬЦАА</h5>
          <p>{% lorem %}</p>
        </div>
      </div>
    </div>
  </section>
  <section class="blog section-padding text-center" id="categorys">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <article class="blog-post">
            <figure>
              <a href="{{ news_first.img_url }}" class="single_image">
                <div class="blog-img-wrap">
                  <div class="overlay">
                    <i class="fa fa-search"></i>
                  </div>
                  <img src="{{ news_first.img_url }}" style="width:400px; height:226px;" />
                </div>
              </a>
              <figcaption>
              <h2>
                <a href="javascript:;" class="blog-category">Мэдээлэл</a>
              </h2>
              <p><a href="{% url 'web:news_self' news_first.id %}" class="blog-post-title">{{ news_first.title|truncatechars:50 }} <i class="fa fa-angle-right"></i></a></p>
              </figcaption>
            </figure>
          </article>
          <a href="{% url 'web:news' %}" class="btn btn-ghost btn-accent btn-small">Мэдээлэл</a>
        </div>
        <div class="col-md-4">
          <article class="blog-post">
            <figure>
              <a href="/static/web/img/blog-img-02.jpg" class="single_image">
                <div class="blog-img-wrap">
                  <div class="overlay">
                    <i class="fa fa-search"></i>
                  </div>
                  <img src="/static/web/img/blog-img-02.jpg" style="width:400px; height:226px;"/>
                </div>
              </a>
              <figcaption>
                <h2><a href="javascript:;" class="blog-category">Cудалгаа</a></h2>
                <p>
                  <a href="/media/{{ research_first.pdf_file }}" class="blog-post-title">
                    {{ research_first|truncatechars:50 }} <i class="fa fa-angle-right"></i>
                  </a>
                </p>
              </figcaption>
            </figure>
          </article>
          <a href="{% url 'web:research' %}" class="btn btn-ghost btn-accent btn-small">Судалгаа</a>
        </div>
        <div class="col-md-4">
          <article class="blog-post">
            <figure>
              <a href="{{ lesson_first.url }}" class="single_image video" title="The Falltape">
                <div class="blog-img-wrap">
                  <div class="overlay">
                    <i class="fa fa-search"></i>
                  </div>
                  <img src="{{ lesson_first.image }}"  style="width:400px; height:226px;"/>
                </div>
              </a>
              <figcaption>
                <h2><a href="javascript:;" class="blog-category">Сургалт</a></h2>
                <p>
                  <a href="#" class="blog-post-title">
                    {{ lesson_first.video_name|truncatechars:50 }}<i class="fa fa-angle-right"></i>
                  </a>
                </p>
              </figcaption>
            </figure>
          </article>
          <a href="{% url 'web:lesson' %}" class="btn btn-ghost btn-accent btn-small">Сургалт</a>
        </div>               
      </div>
    </div>
  </section>
  <section class="sign-up section-padding text-center" id="login">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h3>Монексд тавтай морил</h3>
          <p>
            Бүртгүүлэх
            {% for error in form.non_field_errors %}
            {{error}}
            {% endfor %}
          </p>
          <form id="register_form" class="signup-form" action="" method="POST" role="form">{% csrf_token %}
            {{ form.username.errors }}
            <div class="form-input-group {% if form.username.errors %}error{% endif %}">
              <i class="fa fa-user"></i>
              {{ form.username }}
            </div>
            {{ form.email.errors }}
            <div class="form-input-group {% if form.email.errors %}error{% endif %}">
              <i class="fa fa-envelope"></i>
              {{ form.email }}
            </div>
            <button type="submit" class="btn-fill sign-up-btn">Бүртгүүлэх</button>
          </form>
        </div>
      </div>
    </div>
  </section>
  <section class="to-top">
      <div class="container">
          <div class="row">
              <div class="to-top-wrap">
                  <a href="#top" class="top"><i class="fa fa-angle-up"></i></a>
              </div>
          </div>
      </div>
  </section>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <div class="footer-links">
            <ul class="footer-group">
              <li><a href="#">Мэдээлэл</a></li>
              <li><a href="#">Судалгаа</a></li>
              <li><a href="#">Сургалт</a></li>
              <li><a href="http://tympanus.net/codrops/">Тэмцээн</a></li>
              <li><a href="http://tympanus.net/codrops/licensing/">Бүртгүүлэх</a></li>
            </ul>
            <p>Copyright © 2016 <a href="#">Monex</a>
            <a href="javascript:;"></a> | Innosolution <span class="fa fa-heart pulse2"></span>.</p>
          </div>
        </div>
        <div class="social-share">
          <p>Найзуудтайгаа хуваалцах</p>
          <a href="https://twitter.com/peterfinlan" class="twitter-share"><i class="fa fa-twitter"></i></a><a href="#" class="facebook-share"><i class="fa fa-facebook"></i></a>
          <a href="#" class="youtube-share"><i class="fa fa-youtube-play"></i></a>
        </div>
      </div>
    </div>
  </footer>
  <script>window.jQuery || document.write('<script src="static/web/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
  <script src="{% static 'web/bower_components/retina.js/dist/retina.js' %}"></script>
  <script src="{% static 'web/js/jquery.fancybox.pack.js' %}"></script>
  <script src="{% static 'web/js/vendor/bootstrap.min.js' %}"></script>
  <script src="{% static 'web/js/scripts.js' %}"></script>
  <script src="{% static 'web/js/jquery.flexslider-min.js' %}"></script>
  <script src="{% static 'web/bower_components/classie/classie.js' %}"></script>
  <script src="{% static 'web/bower_components/jquery-waypoints/lib/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'js/bootstrap-notify.min.js' %}"></script>

  <script type="text/javascript">
    jQuery(document).ready(function() {
      $(".video").click(function() {
        $.fancybox({
          'padding'   : 0,
          'autoScale'   : false,
          'transitionIn'  : 'none',
          'transitionOut' : 'none',
          'title'     : this.title,
          'width'     : 640,
          'height'    : 385,
          'href'      : this.href.replace(new RegExp("watch\\?v=", "i"), 'v/'),
          'type'      : 'swf',
          'swf'     : {
          'wmode'       : 'transparent',
          'allowfullscreen' : 'true'
          }
        });
        return false;
      });
    });
    {% if messages %}
      {% for m in messages %}
        $(document).ready(function(){
          $.notify(
            {
              message: '{{ m }}'
            },
            {
              type: '{% if m.tags == "error" %}danger{% else %}{{ m.tags }}{% endif %}',
              placement: {
                from: "top",
                align: "center"
              },
            }
          );
        });
      {% endfor %}
    {% endif %}
    /*$('#register_form').submit(function(){
      event.preventDefault();
      $.ajax({
        url: '/',
        method: 'POST',
        data: $(this).serialize(),
        success: function (xhr, ajaxOptions, thrownError) {
          if ( $(xhr).find('.errorlist').length > 0 ) {
            var a = $(xhr).find('#login');
            alert(a.innerText);
            $('html').html(xhr);
            alert(xhr);
          }
          else {
              location.reload();
              alert('Таны мэдээлэл амжиттай хадгалагдлаа')
          }
        },
        error: function (xhr, ajaxOptions, thrownError) {
        }
      });
    });*/
  </script>
</body>
</html>