{% load static %}
{% comment %}
<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Хайх">



<table class="table table-bordered" id="table1">
   <thead>
      <tr>
         <th>Валют</th>
         <th>Авах</th>
         <th>Зарах</th>
         <th>Өөрчлөлт</th>
         <th>Өөрчлөлтийн Хувь</th>
         <th>Сүүлд Шинэчлэгдсэн</th>
         

      </tr>
   </thead>
   <tbody>
      <tr>
         <td>EUR</td>
         <td>2000</td>
         <td>2100</td>
         <td>0.1</td>
         <td>10%</td>
         <td>2016-02-25</td>
      </tr>
      <tr>
         <td>USA</td>
         <td>1900</td>
         <td>1950</td>
         <td>0.05</td>
         <td>5%</td>
         <td>2016-06-25</td>
      </tr>
   </tbody>
</table>
{% endcomment %}
<div class="watchlist-body">
  <button data-toggle="modal" href="#myModal1" class="btn btn-plat btn-xs">Нэмэх</button> 
</div>
<table class="table table-bordered" id="table1">
  <thead>
    <tr>
      <th>Валют</th>
      <th>Авах</th>
      <th>Зарах</th>
      <th>Өөрчлөлт</th>
      <th>Сэтгэгдэл</th>
      <th>Засах</th>
      <th>Устгах</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>EUR</td>
      <td>2000</td>
      <td>2100</td>
      <td>0.1</td>
      <td>blabla bla bla</td>
      <td><button href="#ModalGeneral" data-toggle="modal" class="btn btn-plat btn-xs">Засах</button></td>
      <td><button class="btn btn-plat btn-xs">Устгах</button></td>
    </tr>
  </tbody>
</table>
<!-- Modal -->
<div class="modal fade" id="ModalGeneral" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
         <div class="modal-header">
            <h4>Price Alert</h4>
         </div>
         <div class="modal-body">           
            <div class="col-lg-12">
               <form role="container">

                  {% csrf_token %}
                  <div class="row">
                     <div class="col-lg-6">
                        <p>
                           <label for="alert_type">Төрөл: </label>
                           {{ form.alert_type }}
                        </p>
                     </div>
                     <div class="col-lg-6">
                        <p>
                           <label for="condition">Нөхцөл: </label>
                           {{ form.condition }}
                        </p>
                     </div>
                     <div class="col-lg-6">
                        <p>
                           <label for="active">Идэвхитэй байдал: </label>
                           {{ form.active }}
                        </p>
                     </div>
                     <div class="col-lg-6">
                        <p>
                           <label for="exp_date">Үргэлжлэх Хугацаа: </label>
                           {{ form.exp_date }}
                        </p>
                     </div>
                     <div class="col-lg-12">
                        <p>
                           <label for="price">Үнийн Дүн: </label>
                           {{ form.price }}
                        </p>
                     </div>

                     <div class="col-lg-12">
                        <p>
                           <label for="comment">Сануулга: </label>
                           {{ form.comment }}
                        </p>
                     </div>
                     
                  </div>
               </form> <!--form-->
            </div><!--col-lg-->
         </div><!--modal-body-->
         <div class="modal-footer">
            <button type="button" id="button2" class="save btn btn-info btn-sm btn-block" type="submit">Save changes</button>
         </div>
      </div>
   </div><!-- /.modal-content -->
