<table class="table table-bordered">
	<thead>
		<tr>
			<th>Хувьцаа</th>
			<th>Төлөв</th>
			<th>Зарах</th>
			<th>Ширхэг</th>
			<th>Худалдсан Ханш</th>
			<th>Одоогийн Ханш</th>
			<th>Алдагдал Зогсоох</th>
			<th>Ашиг Авах</th>
			<th>Ашиг/Алдагдал</th>
			<th>Ашиг/Алдагдал ₮</th>
			<th>Ашиг/Алдагдал %</th>
		</tr>
	</thead>
	<tbody>
		{% for package in packages %}
		<tr>
			<td>{{ package.id }}</td>
			<td></td>
			<td>{{ package.status }}</td>
			<td>{{ package.status }}</td>
			<td>{{ package.piece }}</td>
			<td>{{ package.user_id }}</td>
			<td>{{ package.status }}</td>
			<td>{{ package.status }}</td>
			<td>{{ package.status }}</td>
			<td>{{ package.status }}</td>
			<td>{{ package.status }}</td>
			<td>{{ package.status }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>