{% load static %}
<ul class="list-inline">
	<!-- Nav tabs -->
	<li><a class="nav-link active" data-toggle="tab" href="#stkpos">Хувьцаа</a></li>
	<li><a class="nav-link" data-toggle="tab" href="#curpos">Валют</a></li>
</ul>
<!-- Tab panes -->
<div class="tab-content">
	<div class="tab-pane active" id="stkpos">
		<table class="table table-bordered scroll" id="stkpos">
			<thead>
				<tr>
					<th>Хувьцаа</th>
					<th>Төлөв</th>
					<th>Зарах</th>
					<th>Ширхэг</th>
					<th>Худалдсан Ханш</th>
					<th>Одоогийн Ханш</th>
					<th>Алдагдал Зогсоох</th>
					<th>Ашиг Авах</th>
					<th>Ашиг/Алдагдал</th>
					<th>Ашиг/Алдагдал ₮</th>
					<th>Ашиг/Алдагдал %</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>APU</td>
					<td>Нээлттэй</td>
					<td>Long</td>
					<td>100.000</td>
					<td>1989</td>
					<td>1888</td>
					<td>сонгох</td>
					<td>сонгох</td>
					<td>115 USD</td>
					<td>200.000</td>
					<td>0.50%</td>
				</tr>
				<tr>
					<td>ETR</td>
					<td>Нээлттэй</td>
					<td>Long</td>
					<td>100.000</td>
					<td>1989</td>
					<td>1888</td>
					<td>сонгох</td>
					<td>сонгох</td>
					<td>115 USD</td>
					<td>200.000</td>
					<td>0.50%</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="tab-pane" id="curpos">
		<table class="table table-bordered scroll" id="curpos">
			<thead>
				<tr>
					<th>Валют</th>
					<th>Төлөв</th>
					<th>Зарах</th>
					<th>Ширхэг</th>
					<th>Худалдсан Ханш</th>
					<th>Одоогийн Ханш</th>
					<th>Алдагдал Зогсоох</th>
					<th>Ашиг Авах</th>
					<th>Ашиг/Алдагдал</th>
					<th>Ашиг/Алдагдал ₮</th>
					<th>Ашиг/Алдагдал %</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>EUR/MNT</td>
					<td>Нээлттэй</td>
					<td>Long</td>
					<td>100.000</td>
					<td>1989</td>
					<td>1888</td>
					<td>сонгох</td>
					<td>сонгох</td>
					<td>115 USD</td>
					<td>200.000</td>
					<td>0.50%</td>
				</tr>
				<tr>
					<td>KRW/MNT</td>
					<td>Нээлттэй</td>
					<td>Long</td>
					<td>100.000</td>
					<td>1989</td>
					<td>1888</td>
					<td>сонгох</td>
					<td>сонгох</td>
					<td>115 USD</td>
					<td>200.000</td>
					<td>0.50%</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>