<table class="table table-bordered scroll">
    <thead>
        <tr>
            <th>Хувьцаа</th>
            <th>Авах</th>
            <th>Зарах</th>
            <th>Дээд</th>
            <th>Доод</th>
            <th>Сүүлийн Ханш</th>
            <th>Өөрчлөлт</th>
            <th>Өөрчлөлтийн Хувь</th>
            <th>Сүүлд Шинэчлэгдсэн</th>
        </tr>
    </thead>
    <tbody>
        {% for stock in stocks %}
        <tr>
            <td>{{ stock.stock_id }}</td>
            <td>
                <button class="btn btn-plat btn-xs" data-toggle="ajax-modal" href="{% url 'platform:stock_buy' pk stock.id %}">
                    {{ stock.buy }}
                </button>
            </td>
            <td>
                <button class="btn btn-plat btn-xs" data-toggle="ajax-modal" href="{% url 'platform:stock_buy' pk stock.id %}">
                    {{ stock.sell }}
                </button>
            </td>
            <td>{{ stock.high }}</td>
            <td>{{ stock.low }}</td>
            <td>{{ stock.last }}</td>
            <td>{{ stock.last }}</td>
            <td>{{ stock.last }}</td>
            <td>{{ stock.last }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>