<table class="table table-bordered scroll">
    <thead>
        <tr>
            <th>Хувьцаа</th>
            <th>Авах</th>
            <th>Зарах</th>
            <th>Дээд</th>
            <th>Доод</th>
            <th>Сүүлийн Ханш</th>
            <th>Өөрчлөлт</th>
            <th>Өөрчлөлтийн Хувь</th>
            <th>Сүүлд Шинэчлэгдсэн</th>
        </tr>
    </thead>
    <tbody>
        {% for stock in stocks %}
        <tr>
            <td>5</td>
            <td>6</td>
            <td>8</td>
            <td>9</td>
            <td>9</td>
            <td>9</td>
            <td>9</td>
            <td>9</td>
            <td>9</td>
        </tr>
        {% endfor %}
    </tbody>
</table>