{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>MONEX</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="" content="">
  {% block css %}
  <!--CSS-->
  <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'assets/bootstrap-year-calendar-master/css/bootstrap-year-calendar.css' %}">
  <link rel="stylesheet" href="{% static 'assets/bootstrap-daterange/css/daterangepicker.css' %}">
  <link href="/static/css/font-awesome.min.css" rel="stylesheet">
  <link href="/static/css/styles.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/scroll.css">
  <link href="{% static 'manager/dist/css/AdminLTE.min.css' %}" rel="stylesheet">
  <link href="/static/css/styles.css" rel="stylesheet">
  {% endblock %}
</head>
</html>
<body class="header-fixed-top">
  {% block header %}{% include 'web/header.html' %}{% endblock %}
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        {% block content %}
        {% endblock %}
      </div>
      <div class="col-md-3">
        {% block rightcontent %}
        <div class="wall">
          <div id="blog-sidebar" class="blog-sidebar widget-area" role="complementary">
            <div class="sidebar-content">
              <aside class="widget">
                <h3 class="widget-title">{% trans 'Валют' %}</h3>
                <ul class="nav nav-tabs text-sm">
                  {% for bank in banks %}
                  <li>
                    <a href="#bank_{{ bank.id }}" data-toggle="tab">
                      <img src="/media/{{ bank.icon }}"/ width="24" height="24">
                    </a>
                  </li>
                  {% endfor %}
                </ul>
                <div class="tab-content text-sm">
                  {% for bank in banks %}
                  <div class="tab-pane" id="bank_{{ bank.id }}">
                    <table class="table table-bordered table-striped" style="margin-top:10px;">
                      <thead>
                        <tr>
                          <th colspan="3">
                            <h5 style="margin-top:5px;">{{ bank }}</h5>
                          </th>
                        </tr>
                        <tr>
                          <th>{% trans 'Валют' %}</th>
                          <th>{% trans 'Авах' %}</th>
                          <th>{% trans 'Зарах' %}</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for c in bank.get_currency %}
                        <tr>
                          <td>
                            <img src="/media/{{c.currency.icon}}" width="20" height="20"> {{ c.currency.bill }}
                          </td>
                          <td>{{ c.buy }}</td>
                          <td>{{ c.sell }}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                  {% endfor %}
                </div>
              </aside>
              <aside class="widget">
                <h3 class="widget-title">{% trans 'Хувьцаа/ТОП 20' %}</h3>
                <table class="table table-bordered table-striped table-hover text-sm">
                  <thead>
                    <tr>
                      <th>{% trans 'Хувьцаа' %}</th>
                      <th>{% trans 'Авах' %}</th>
                      <th>{% trans 'Зарах' %}</th>
                    </tr>
                  </thead>
                </table>
              </aside>
              <aside class="widget">
                <h3 class="widget-title">{% trans "Суурь шинжилгээ" %}</h3>
                <ul class="category-list">
                  {% for i in news_category %}
                  <li><a href="{% url 'web:news' i.id %}">{{ i.name }}</a></li>
                  {% endfor %}
                </ul>
              </aside>
              <aside class="widget">
                <h3 class="widget-title">{% trans "Мэдээллийн шинжилгээ" %}</h3><!-- /.widget-title -->
                {% for m in medee_most %}
                <div class="wall-wall-most">
                  <span class="service-image"><img src="{{ m.img_url }}"></span>
                  <span class="accordion-title"><a href="{% url 'web:news_self' m.id %}"><h5>{{ m.title|truncatechars:50 }}</h5></a></span>
                  <p>{{ m.remove_html|safe|truncatechars:60 }}</p>
                </div>
                {% endfor %}
              </aside>
            </div>
          </div>
        </div>
        {% endblock %}  
      </div>
    </div>
  </div>
  {% block footer %}
  <div id="scroll-to-top" class="scroll-to-top">
    <span>
      <i class="fa fa-chevron-up"></i>    
    </span>
  </div>
  {% endblock %}

  {% block support %}
  {% endblock %}
</body>
{% block js %}
<!--JS--> 
<script src="{% static 'js/jQuery-2.2.0.min.js' %}"></script>
<script src="{% static 'assets/bootstrap/js/bootstrap.js' %}"></script>
<script src="{% static 'assets/bootstrap-player/bootstrap.youtubepopup.js' %}"></script>
<script src="{% static 'assets/bootstrap-daterange/js/moment.js' %}"></script>
<script src="{% static 'assets/bootstrap-daterange/js/daterangepicker.js' %}"></script>
<script src="/static/js/plugins.js"></script>  
<script src="/static/js/functions.js"></script>
<script src="/static/js/web.js"></script>
<script src="/static/js/scroll.js"></script>
<script src="{% static 'js/bootstrap-notify.min.js' %}"></script>
{% endblock %}
{% block extrajs %}

{% endblock %}
<style type="text/css">
  iframe {
    display: block;
    border: none;
    height: 350px;
    width: 100%;
  }
</style>

{% include "config/messages.html" %}
{% include "config/error.html" %}