<section id="top-contact" class="top-contact">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 pull-left">
        <ul>
          <li>
            <a href="#" class="top-icon fa fa-facebook"></a>
          </li>
          <li>
            <a href="#" class="top-icon fa fa-twitter"></a>
          </li>
          <li>
            <a href="#" class="top-icon fa fa-youtube-play"></a>
          </li>
        </ul>
      </div>
      <div class="col-sm-4 pull-right">
        <div class="top-social">
          <ul>
          {% if not user.is_authenticated %}
            <li><a href="{% url 'user:login' %}" class="top-icon-word fa fa-user"> Нэвтрэх</a></li>
          {% else %}
          <div class="dropdown">
            <a href="javascript:;" data-toggle="dropdown">
              <span class="top-icon fa fa-user"></span>
              {{ user.email }}
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">Минии мэдээлэл</a></li>
              <li><a href="{% url 'user:password_change' %}">Нууц үг солих</a></li>
              <li><a href="{% url 'user:logout' %}">Системээс гарах</a></li>
            </ul>
          </div>
          {% endif %}
          </ul>
        </div>
      </div>
    </div><!-- /.row -->
  </div><!-- /.container -->
</section>

<section id="site-banner" class="site-banner text-center">
  <div class="container">
    <div class="site-logo">
      {% comment %}<a href="./"><img src="/static/images/logo.png" alt="Site Logo"></a>{% endcomment %}
      <h2>MONEX</h2>
    </div><!-- /.site-logo -->
  </div><!-- /.container -->
</section>

<section class="tickercontainer">
  <ul class="scroller newsticker">
    <li><a>fasdfasdf</a><span>asdf asdf</span>My First News Item</li> 
    <li><a>fasdfasdf</a><span>asdf asdf</span>My First News Item</li> 
    <li><a>fasdfasdf</a><span>asdf asdf</span>My First News Item</li> 
  </ul>
</section>
<header id="main-menu" class="main-menu">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <nav id="menu" class="menu collapse navbar-collapse">
          <ul id="headernavigation" class="menu-list nav navbar-nav font-bold">
            <li><a href="{% url 'web:home' %}">Нүүр</a></li>
            <li><a href="{% url 'web:competition' %}">Тэмцээн</a></li>
            <li><a href="{% url 'web:news' %}">Мэдээлэл</a></li>
            <li><a href="{% url 'web:lesson' %}">Сургалт</a></li>
            <li><a href="{% url 'web:research' %}">Судалгаа</a></li>
            {% comment %}
            <li><a href="{% url 'web:calendar' %}">Э/З календарь</a></li>
            <li><a href="{% url 'chat:room' %}">Форум</a></li>
            {% endcomment %}
          </ul><!-- /.menu-list -->
        </nav><!-- /.menu-list -->
      </div>
      <div class="col-md-5">
        <div class="menu-search pull-right">
         <form role="search" class="search-form" action="#" method="get">
          <input class="search-field" type="text" name="s" id="s" placeholder="Хайх" required>
          <button class="btn search-btn" type="submit"><i class="fa fa-search"></i></button>
        </form><!-- /.search-form -->
      </div><!-- /.menu-search -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</header><!-- /#main-menu -->