{% extends 'manager/base.html' %}
{% load i18n %}
{% block content %}
<section class="content-header">
  <h1>
    {% trans 'Хувьцаа' %}
    {% if user.is_stock_create %}
    <a href="{% url 'manager:stock_create' %}"><i class="fa fa-plus"></i></a>
    {% endif %}
  </h1>
  <ol class="breadcrumb">
    <li><a href="{% url 'manager:manager_home' %}"><i class="fa fa-dashboard"></i> {% trans 'Нүүр' %}</a></li>
    <li class="active">{% trans 'Хувьцаа' %}</li>
  </ol>
</section>
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="space10"></div>
      <div class="box">
        <div class="box-body">
          <table id="stock_table" class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>{% trans '№' %}</th>
                <th>{% trans 'Нэр' %}</th>
                <th>{% trans 'Тэмдэгт' %}</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for stock in stocks %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ stock.name }}</td>
                <td>{{ stock.symbol }}</td>
                <td>
                  {% if user.is_stock_update %}
                  <a href="{% url 'manager:stock_update' stock.id %}" class="btn btn-flat btn-primary btn-xs">
                    <i class="fa fa-edit"></i> {% trans 'Засварлах' %}
                  </a>
                  {% endif %}
                  {% if user.is_stock_delete %}
                  <a href="{% url 'manager:stock_delete' stock.id %}" class="btn btn-flat btn-danger btn-xs">
                    <i class="fa fa-trash-o"></i> {% trans 'Устгах' %}
                  </a>
                  {% endif %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="box-footer">
          <div class="pull-right">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block extrajs %}
<script type="text/javascript">
  $(document).ready(function(){
    managerDatatable('#stock_table');
  });
</script>
{% endblock %}