{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head>
  {% block head %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>MONEX</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  
  <!--jQuery-->
  <script src="{% static 'js/jQuery-2.2.0.min.js' %}"></script>
  
  <!--jQuery-ui-->
  <link href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet"/>
  <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  
  <!--Bootstrap-->
  <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.css' %}">
  <script src="{% static 'assets/bootstrap/js/bootstrap.min.js ' %}"></script>
  
  <!--Font-awesome-->
  <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">

  <!--Ionicons-->
  <link rel="stylesheet" href="{% static 'manager/dist/css/ionicons.min.css' %}">

  <!--Style manager-->
  <link rel="stylesheet" href="{% static 'manager/dist/css/AdminLTE.css' %}">
  <link rel="stylesheet" href="{% static 'manager/dist/css/skins/_all-skins.css' %}">
  <link rel="stylesheet" href="{% static 'manager/dist/css/style.css' %}">
  <script src="{% static 'manager/dist/js/manager.js' %}"></script>

  <!--Bootstrap date range-->
  <link href="{% static 'assets/bootstrap-daterange/css/daterangepicker.css' %}" rel="stylesheet">
  <script src="{% static 'assets/bootstrap-daterange/js/moment.min.js' %}"></script>
  <script src="{% static 'assets/bootstrap-daterange/js/daterangepicker.js' %}"></script>

  <!--Datatables-->  
  <link href="{% static 'manager/plugins/datatables/dataTables.bootstrap.css' %}" rel="stylesheet">
  <script src="/static/manager/plugins/datatables/jquery.dataTables.min.js"></script>
  <script src="{% static 'manager/plugins/datatables/dataTables.bootstrap.min.js' %}"></script>
  
  <!--slimScrol-->
  <script src="{% static 'manager/plugins/slimScroll/jquery.slimscroll.min.js' %}"></script>
  
  <!--fastclick-->
  <script src="{% static 'manager/plugins/fastclick/fastclick.js' %}"></script>
  
  <!--app-->
  <script src="{% static 'manager/dist/js/app.min.js' %}"></script>

  <!--django admin-->
  <script type="text/javascript" src="/admin/jsi18n/"></script>
  <script type="text/javascript" src="/static/admin/js/core.js"></script>
  <script src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
  <script src="{% static 'admin/js/jquery.init.js' %}"></script>
  <script src="{% static 'admin/js/admin/RelatedObjectLookups.js' %}"></script>

  <!--modal view-->
  <link href="{% static 'django_modalview/css/modal.css' %}" rel="stylesheet"/>
  <script src="{% static 'django_modalview/js/django_modal_view.js' %}"></script>
  <script src="{% static 'django_modalview/js/jquery.form.js' %}"></script>
  <script src="{% static 'notifications/notify.js' %}"></script>

  <!--Pace-->
  <link rel="stylesheet" href="{% static 'manager/plugins/pace/pace.min.css' %}">
  <script src="{% static 'manager/plugins/pace/pace.min.js' %}"></script>
  {% endblock %}
</head>
<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">
    {% block header %}
    {% include 'manager/base/header.html' %}
    {% endblock %}
    {% block sidebar %}
    {% include 'manager/base/sidebar.html' %}
    {% endblock %}
    <div class="content-wrapper">
    {% block content %}
    {% endblock %}
    </div>
    {% block footer %}
    {% comment %}
    <footer class="main-footer">
      <div class="pull-right hidden-xs">
        <b></b>
      </div>
      <strong></strong>
    </footer>
    {% endcomment %}
    {% endblock %}
  </div>
</body>
</html>
{% block extrajs %}
{% endblock %}