{% load i18n %}
<!DOCTYPE html>
<html>
<head>
  {% block head %}
  {% include "manager/scripts.html" %}
  {% endblock %}
</head>
<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">
    {% block header %}
    {% include 'manager/base/header.html' %}
    {% endblock %}
    {% block sidebar %}
    {% include 'manager/base/sidebar.html' %}
    {% endblock %}
    <div class="content-wrapper">
    {% block content %}
    {% endblock %}
    </div>
    {% block footer %}
    {% comment %}
    <footer class="main-footer">
      <div class="pull-right hidden-xs">
        <b></b>
      </div>
      <strong></strong>
    </footer>
    {% endcomment %}
    {% endblock %}
  </div>
</body>
</html>
{% include "config/error.html" %}
{% include "config/messages.html" %}
{% block extrajs %}
{% endblock %}