{% extends 'manager/base.html' %}
{% load static %}
{% block content %}
	<section class="content">
    <div class="row">
      <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-aqua">
          <div class="inner">
            <h3>150</h3>
            <p>Нийт тэмцээн</p>
          </div>
          <div class="icon">
            <i class="ion ion-bag"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-green">
          <div class="inner">
            <h3>53<sup style="font-size: 20px">%</sup></h3>
            <p>Одоо явагдаж байгаа тэмцээн</p>
          </div>
          <div class="icon">
            <i class="ion ion-stats-bars"></i>
          </div>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
          <div class="inner">
            <h3>44</h3>
            <p>Нийт хэрэглэгч</p>
          </div>
          <div class="icon">
            <i class="ion ion-person-add"></i>
          </div>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red">
          <div class="inner">
            <h3>65</h3>
            <p>Тэмцээнд бүртгэгдсэн хэрэглэгч</p>
          </div>
          <div class="icon">
            <i class="ion ion-pie-graph"></i>
          </div>
        </div>
      </div>
    </div>
    <a id="my_modal_runner" class='btn btn-primary btn-flat' href='#'>Display modal </a>
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
      Launch demo modal
    </button>
    <button id="uuganaa">Clickme</button>
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
    <div id="myModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Modal Form</h4>
          </div>
          <form id="myform" class="form-horizontal" role="form" method="POST">{% csrf_token %}
            <div class="modal-body">
              <div class="form-group">
                <div class="col-md-12">
                  <label class="control-label popup-label">First Name</label>
                  <input required type="text" class="form-control" name="firstname" value="">
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-12">
                  <label class="control-label popup-label">Last Name</label>
                  <input required type="text" class="form-control" name="lastname" value="">
                </div>
              </div>
              <div id="error">
                <div class="alert alert-danger"> <strong>Error!</strong> There Are Too Many Errors</div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary" id="submitForm">Submit</button>
              <button type="button" class="btn btn-default" data-dismiss="modal" id="reset">Cancel / Clear</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div id="thanks"></div>
    <script type="text/javascript">
      $("#submitForm").click(function () {
         $.ajax({
          type: "POST",
          url: "/manager/home/",
          data: $('#myform').serialize(),
          success: function (msg) {
            alert('dfasdfaf');
            //$("#thanks").html(msg)
            $("#myModal").modal('hide');
          },
          error: function () {
            $("#error").show();
          }
        });
      });
    </script>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}