<div class="related-widget-wrapper">
  {{ widget }}
  {% if can_change_related %}
  <a id="related_change" href="#" onclick="return popup(this, 'notes')">
    <i class="fa fa-pencil-square-o"></i>
  </a>
  {% endif %}
  {% if can_add_related %}
  <a href="{{ add_related_url }}" onclick="return popup(this, 'notes')">
    <i class="fa fa-plus"></i>
  </a>
  {% endif %}
  {% if can_delete_related %}
  <a id="related_delete" href="#" onclick="return popup(this, 'notes')">
    <i class="fa fa-trash-o"></i>
  </a>
  {% endif %}
</div>