{% load i18n %}
<table class="table table-bordered table-hover table-striped">
  <thead>
    <tr>
      <th>{% trans '№' %}</th>
      <th>{% trans 'Ангилал' %}</th>
      <th>{% trans 'Эхлэх огноо' %}</th>
      <th>{% trans 'Дуусах огноо' %}</th>
      <th>{% trans 'Төлөв' %}</th>
      <th>{% trans 'Шагналын сан' %}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for competition in competitions %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ competition.competition_category_id }}</td>
      <td>{{ competition.start_date }}</td>
      <td>{{ competition.end_date }}</td>
      <td>
        <span class='label label-pill label-{% get_competition_status_label competition.status %}'>
          {% get_competition_status competition.status %}
        </span>
      </td>
      <td>{{ competition.prize }}</td>
      <td>
        {% if_registered competition.id user.id competition.status %}
    </tr>
    {% endfor %}
  </tbody>
</table>