{% extends 'web/base.html' %}

{% block content %}
{% comment %}
<div class="wall">
  
  {{ news.body.value|safe }}
</div>
{% endcomment %}
<div class="wall">
  <h3 class="title">{{ news.title.value }}</h3>
  <div id="blog-post-content" class="blog-post-content">
    <article class="post type-post">
      <div class="post-content">{{ news.body.value|safe }}</div><hr>
      <div class="pull-right">
        <span class="author-name">{{ news.created_by.value }}</span> /
        <span class="entry-date"><time datetime="2015-01-15">{{ news.created_at.value }}</time></span>
      </div>
    </article>
  </div>
</div>
{% endblock %}