{% extends 'web/base.html' %}
{% block content %}
<div class="col-md-9">
	<div class="wall">
		<h2 class="title">Мэдээлэл</h2>
	</div>
	<div class="row">
		<div class="col-md-12">
			{% for news in newss %}
			<div class="wall-wall">
				<span class="service-image"><img src="{{ m.img_url }}" alt="{{ m.img_url }}"></span>
				<span class="accordion-title"><a href="{% url 'web:news_view' news.id %}">{{ news.title|truncatechars:60 }}</a></span>
				<p>{{ news.body|truncatechars:200|striptags }}</p>
			</div>
			<hr>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}