{% load static %}
<table class="table table-bordered" id="economical">
						<thead>
							<tr>
								<th>Time</th>
								<th>Currency</th>
								<th>Imp</th>
								<th>Event</th>
								<th>Actual</th>
								<th>Forcast</th>
								<th>Previous</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>2016.09.10</td>
								<td>10.00</td>
								<td>gfhjk</td>
								<td>gfhjk</td>
								<th>gfhjk</th>
								<th>gfhjk</th>
								<th>gfhjk</th>
							</tr>
						</tbody>
</table>