
{% load static %}
<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Валют..." title="Type in a name">
   <table class="table table-bordered" id="table1">
      <thead>
         <tr>
            <th>Валют</th>
            <th>Авах</th>
            <th>Зарах</th>
            <th>Өөрчлөлт</th>
            <th>Өөрчлөлтийн Хувь</th>
            <th>Сүүлд Шинэчлэгдсэн</th>

         </tr>
      </thead>
      <tbody>
         <tr>
            <td>EUR</td>
                                   <td>2000</td>
                                   <td>2100</td>
                                   <td>0.1</td>
                                   <td>10%</td>
                                   <td>2016-02-25</td>
         </tr>
         <tr>
            <td>USA</td>
                                   <td>1900</td>
                                   <td>1950</td>
                                   <td>0.05</td>
                                   <td>5%</td>
                                   <td>2016-06-25</td>
         </tr>
      </tbody>
   </table>







<!--Tanle click PopUp Example 1-->
<!--<table class="table table-striped"> <thead>
    <tr>
        <th>ID</th>
        <th>Customer</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
        <tr data-toggle="modal" data-id="1" data-target="#orderModal">
            <td>1</td>
            <td>24234234</td>
            <td>A</td>
        </tr>
        <tr data-toggle="modal" data-id="2" data-target="#orderModal">
            <td>2</td>
            <td>24234234</td>
            <td>A</td>
        </tr>
        <tr data-toggle="modal" data-id="3" data-target="#orderModal">
            <td>3</td>
            <td>24234234</td>
            <td>A</td>
        </tr>
    </tbody>
</table>
  
  <div id="orderModal" class="modal fade" role="dialog" aria-labelledby="orderModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h3>Order</h3>
      </div>
      <div id="orderDetails" class="modal-body"></div>
      <div id="orderItems" class="modal-body"></div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>
  </div>
</div>

</div>
-->