{% load i18n %}
<table id="competition_table" class="table table-bordered table-hover table-striped">
  <thead>
    <tr>
      <th>{% trans '№' %}</th>
      <th>{% trans 'Ангилал' %}</th>
      <th>{% trans 'Эхлэх огноо' %}</th>
      <th>{% trans 'Дуусах огноо' %}</th>
      <th>{% trans 'Төлөв' %}</th>
      <th>{% trans 'Хураамж' %}</th>
      <th>{% trans 'Шагналын сан' %}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for competition in competitions %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ competition.category }}</td>
      <td>{{ competition.start_date }}</td>
      <td>{{ competition.end_date }}</td>
      <td>
        <span class='label label-pill label-{% if competition.competition_status == "0" %}success{% elif competition.competition_status == "1" %}info{% else %}primary{% endif %}'>
        {{ competition.status }}
      </span>
      </td>
      <td>{{ competition.fee }}</td>
      <td>{{ competition.prize }}</td>
      <td>
        <a href="{% url 'manager:competition_update' competition.id %}" class="big btn btn-flat btn-primary btn-xs">
          <i class="fa fa-edit"></i> Засварлах
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>