{% extends 'manager/base.html' %}
{% load i18n %}
{% block content %}
<section class="content-header">
  <h1>{% trans 'Тэмцээн' %}</h1>
  <ol class="breadcrumb">
    <li><a href="{% url 'manager:manager_home' %}"><i class="fa fa-dashboard"></i> {% trans 'Нүүр' %}</a></li>
    <li class="active">{% trans 'Тэмцээн' %}</li>
  </ol>
</section>
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-body">
          <table id="competition_table" class="table table-bordered table-hover table-striped">
            <thead>
              <tr>
                <th>{% trans '№' %}</th>
                <th>{% trans 'Ангилал' %}</th>
                <th>{% trans 'Эхлэх огноо' %}</th>
                <th>{% trans 'Дуусах огноо' %}</th>
                <th>{% trans 'Хураамж' %}</th>
                <th>{% trans 'Шагналын сан' %}</th>
                <th>{% trans 'Бүртгүүлсэн хэрэглэгчид' %}</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for competition in competitions %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ competition.category }}</td>
                <td>{{ competition.start_date }}</td>
                <td>{{ competition.end_date }}</td>
                <td>{{ competition.fee }}</td>
                <td>{{ competition.prize }}</td>
                <td><span class='label label-pill label-primary'>{{ competition.status }}</span></td>
                <td>
                  <a href="{% url 'manager:competition_register_user_list' competition.id %}" class="big btn btn-flat btn-info btn-xs">
                     Бүртгэл харах
                  </a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
