{% extends 'manager/base.html' %}
{% load i18n %}
{% block content %}
<form id="competition_form" method="get">
  <input id="id_filter_type" type="hidden" name="filter_type" value="0">
  <input type="hidden" name="start" id="id_start">
  <input type="hidden" name="end" id="id_end">  
</form>

<section class="content-header">
  <h1>
    {% trans 'Тэмцээн' %}
    <a href="{% url 'manager:competition_create' %}">
      <i class="fa fa-plus"></i>
    </a>
  </h1>
  <ol class="breadcrumb">
    <li><a href="{% url 'manager:home' %}"><i class="fa fa-dashboard"></i> {% trans 'Нүүр' %}</a></li>
    <li class="active">{% trans 'Тэмцээн' %}</li>
  </ol>
</section>

<section class="content">
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-red"><i class="ion ion-ios-people-outline"></i></span>
        <div class="info-box-content">
          <span class="info-box-text text-sm">Нийт тэмцээн</span>
          <span class="info-box-number">{{ object_list.count }}</span>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-green"><i class="ion ion-ios-people-outline"></i></span>
        <div class="info-box-content">
          <span class="info-box-text text-sm">Бүртгэл эхэлсэн</span>
          <span class="info-box-number">{{ register_count }}</span>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-aqua"><i class="ion ion-ios-people-outline"></i></span>
        <div class="info-box-content">
          <span class="info-box-text text-sm">Эхэлсэн тэмцээн</span>
          <span class="info-box-number">{{ start_count }}</span>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-blue"><i class="ion ion-ios-people-outline"></i></span>
        <div class="info-box-content">
          <span class="info-box-text text-sm">Дууссан тэмцээн</span>
          <span class="info-box-number">{{ end_count }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="space10"></div>
      <div class="box">
        <div class="box-header">
          <div class="buttons">
            <button id="filter5" type="button" class="btn btn-sm btn-danger" date="daterange">
              <i class="fa fa-calendar"></i>
            </button>
            <button id="filter2" type="button" class="btn btn-sm btn-success">
              {% trans 'Бүртгэл эхэлсэн тэмцээн' %}
            </button>
            <button id="filter3" type="button" class="btn btn-sm btn-info">
              {% trans 'Эхэлсэн тэмцээн' %}
            </button>
            <button id="filter4" type="button" class="btn btn-sm btn-primary">
              {% trans 'Дууссан тэмцээн' %}
            </button>
            <button id="filter0" type="button" class="btn btn-sm btn-danger">
              {% trans 'Бүгд' %}
            </button>
          </div>
        </div>
        <div id="competition_filter" class="box-body">
          {% include 'manager/competition/competition_filter.html' %}
        </div>
        <div class="box-footer">
        </div>
      </div>
    </div>
  </div>
</section>
{% for o in object_list %}
<div id="history_{{ o.id }}" class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{% trans 'Түүх' %}</h4>
      </div>
      <div class="modal-body">
        {% if o.history.all %}
        <table class="table table-bordered table-hover table-striped text-sm">
          <thead>
            <tr>
              <th>{% trans '№' %}</th>
              <th>{% trans 'Ангилал' %}</th>
              <th>{% trans 'Эхлэх огноо' %}</th>
              <th>{% trans 'Дуусах огноо' %}</th>
              <th>{% trans 'Төлөв' %}</th>
              <th>{% trans 'Хэн' %}</th>
              <th>{% trans 'Хэзээ' %}</th>
              <th>{% trans 'Төрөл' %}</th>
            </tr>
          </thead>
          <tbody>
            {% for i in o.history.all %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ i.rank.name }}</td>
              <td>{{ i.start|date:"Y-m-d H:i:s" }}</td>
              <td>{{ i.start|date:"Y-m-d H:i:s" }}</td>
              <td>{{ i.get_competition_status_display }}</td>
              <td>{{ i.history_user }}</td>
              <td>{{ i.history_date|date:"Y-m-d H:i:s" }}</td>
              <td>
                {% if i.history_type == "+" %}
                {% trans 'Үүсгэсэн' %}
                {% elif i.history_type == "~" %}
                {% trans 'Засварласан' %}
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        {% trans 'Түүх байхгүй байна.' %}
        {% endif %}
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-flat btn-default">{% trans 'Хаах' %}</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}
{% block extrajs %}
<script type="text/javascript">
  function form_submit(form_id, load_id, load_url){
    $(form_id).submit(function(event){
      event.preventDefault();
      $.ajax({
        url: load_url,
        method: 'GET',
        data: $(this).serialize()
      }).done(function(response){
        $(load_id).html(response)
        managerDatatable('#competition_table');
      });
    });
  }

  $('#filter0').click(function(){
    $('#id_filter_type').val(0)
    $('#competition_form').submit();
  });
  $('#filter1').click(function(){
    $('#id_filter_type').val(1)
    $('#competition_form').submit();
  });
  $('#filter2').click(function(){
    $('#id_filter_type').val(2)
    $('#competition_form').submit();
  });
  $('#filter3').click(function(){
    $('#id_filter_type').val(3)
    $('#competition_form').submit();
  });
  $('#filter4').click(function(){
    $('#id_filter_type').val(4)
    $('#competition_form').submit();
  });
  
  $(document).ready(function(){
    managerDatatable('#competition_table');
    managerDaterange('#filter5');
    form_submit('#competition_form', '#competition_filter', '{% url "manager:competition_filter" %}');
    $('ul.pagination').addClass('pagination-sm pull-right');
    $('.daterangepicker.dropdown-menu').addClass('text-sm');
  });
</script>
{% endblock %}
