{% extends 'web/base.html' %}
{% load i18n %}
{% load static %}
{% block content %}
<div class="col-md-8">
	<div class="wall">
		<form action="{% url 'calendar' %}" id="filter_form" method="get" accept-charset="utf-8">
			<input id="filter" type="hidden" name="filter" value="0">
			<input type="hidden" name="start" id="id_start" value="">
			<input type="hidden" name="end" id="id_end" value="">
		</form>
		<div class="buttons">
			<button id="filter1" class="btn-sm btn-success">{% trans 'Өчигдөр' %}</button>
			<button id="filter2" class="btn-sm btn-primary">{% trans 'Өнөөдөр' %}</button>
			<button id="filter3" class="btn-sm btn-info">{% trans 'Маргааш' %}</button>
			<button id="filter4" class="btn-sm btn-warning">{% trans 'Ирэх долоо хоног' %}</button>
			<button id="filter5" class="btn-sm btn-danger" date="daterange">
				<i class="fa fa-calendar"></i>
			</button>
		</div>
		<div id="calendar_filter">
		{% include 'web/calendar/calendar_filter.html' %}
		</div>
	</div>
</div>
{% endblock %}
{% block extrajs %}
<script type="text/javascript">
$('#filter1').click(function(){
	$('#filter').val(1);
	$('#filter_form').submit();
});
$('#filter2').click(function(){
	$('#filter').val(2);
	$('#filter_form').submit();
});
$('#filter3').click(function(){
	$('#filter').val(3);
	$('#filter_form').submit();
});
$('#filter4').click(function(){
	$('#filter').val(4);
	$('#filter_form').submit();
});
$(function () {
	$('#filter5').daterangepicker({
    "buttonClasses": "btn btn-sm btn-flat",
    "applyClass": "btn-success",
    "cancelClass": "btn-default",
    locale: {
      applyLabel: 'Шүүх',
      cancelLabel: 'Цуцлах',
      customRangeLabel : 'Гараар сонгох'
    },
    ranges: {
      'Өнөөдөр': [moment(), moment()],
      'Өчигдөр': [moment().subtract('days', 1), moment().subtract('days', 1)],
      'Сүүлийн 7 хоног': [moment().subtract('days', 6), moment()],
      'Сүүлийн 30 хоног': [moment().subtract('days', 29), moment()],
      'Энэ сар': [moment().startOf('month'), moment().endOf('month')],
      'Өнгөрсөн сар': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
    },
  });

  $('#filter5').on('apply.daterangepicker', function (ev, picker) {
  	$('#id_start').val(picker.startDate.format('YYYY-MM-DD'));
		$('#id_end').val(picker.endDate.format('YYYY-MM-DD'));
		$('#filter').val(0);
		$("#filter_form").submit();
  });
});

$(document).ready(function(){
	$("ul.nav-tabs li:nth-child(1)").addClass( "active" );
	$('div.tab-content .tab-pane:nth-child(1)').addClass( "active" );
	form_submit('#filter_form', '#calendar_filter', '{% url "calendar_filter" %}')
});
</script>
{% endblock %}