{% extends 'web/base.html' %}
{% load i18n %}
{% load static %}
{% block content %}
<div class="col-md-8">
	<div class="wall">
		<form action="{% url 'calendar' %}" id="filter_form" method="get" accept-charset="utf-8">
			<input id="filter" type="hidden" name="filter" value="0">
			<input type="hidden" name="start" id="id_start" value="">
			<input type="hidden" name="end" id="id_end" value="">
			<div class="buttons">
				<button id="filter1" type="submit" class="btn-sm btn-success">{% trans 'Өчигдөр' %}</button>
				<button id="filter2" type="submit" class="btn-sm btn-primary">{% trans 'Өнөөдөр' %}</button>
				<button id="filter3" type="submit" class="btn-sm btn-info">{% trans 'Маргааш' %}</button>
				<button id="filter4" type="submit" class="btn-sm btn-warning">{% trans 'Ирэх долоо хоног' %}</button>
				<button id="filter5" type="button" class="btn-sm btn-danger" date="daterange">
					<i class="fa fa-calendar"></i>
				</button>
			</div>
		</form>
		<table id="calendar_table" class="table table-bordered table-hover table-striped text-sm">
			<tr>
				<th>{% trans 'Хугацаа' %}</th>
				<th>{% trans 'Улс' %}</th>
				<th>{% trans 'Ач холбогдол' %}</th>
				<th>{% trans 'Үзүүлэлт' %}</th>
				<th>{% trans 'Бодит' %}</th>
				<th>{% trans 'Таамаглал' %}</th>
				<th>{% trans 'Өмнөх' %}</th>
			</tr>
			{% for o in object_list %}
			<tr>
				<td>{{ o.time|date:"Y-m-d H:i" }}</td>
				<td>{{ o.get_cur_display }}</td>
				<td>{{ o.get_imp_display }}</td>
				<td>{{ o.event }}</td>
				<td>{{ o.actual }}</td>
				<td>{{ o.forecast }}</td>
				<td>{{ o.previous }}</td>
			</tr>
			{% endfor %}
		</table>
	</div>
</div>
{% endblock %}
{% block extrajs %}
<script type="text/javascript">
function calendar_filter(id, val, input_id, form_id, load_id){
  $(id).click(function(){
    $(input_id).val(val);
    $(form_id).submit(function(event){
      event.preventDefault();
      $.ajax({
        url: "{% url 'calendar_filter' %}",
        method: 'GET',
        data: $(this).serialize()
      }).done(function(response){
        $(load_id).html(response)
      });
    });
  });
}
$(function () {
	$('#filter5').daterangepicker({
        "buttonClasses": "btn btn-sm btn-flat",
        "applyClass": "btn-success",
        "cancelClass": "btn-default",
        locale: {
        	applyLabel: 'Шүүх',
            cancelLabel: 'Цуцлах',
            customRangeLabel : 'Гараар сонгох'
        },
        ranges: {
         	'Өнөөдөр': [moment(), moment()],
         	'Өчигдөр': [moment().subtract('days', 1), moment().subtract('days', 1)],
         	'Сүүлийн 7 хоног': [moment().subtract('days', 6), moment()],
         	'Сүүлийн 30 хоног': [moment().subtract('days', 29), moment()],
         	'Энэ сар': [moment().startOf('month'), moment().endOf('month')],
         	'Өнгөрсөн сар': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
      	},
    });

    $('#filter5').on('apply.daterangepicker', function (ev, picker) {
    	$('#id_start').val(picker.startDate.format('YYYY-MM-DD'));
		$('#id_end').val(picker.endDate.format('YYYY-MM-DD'));
		$("#filter_form").submit();
    });

});
$(document).ready(function(){
	calendar_filter('#filter1', 1, '#filter', '#filter_form', '#calendar_table');
	calendar_filter('#filter2', 2, '#filter', '#filter_form', '#calendar_table');
	calendar_filter('#filter3', 3, '#filter', '#filter_form', '#calendar_table');
	calendar_filter('#filter4', 4, '#filter', '#filter_form', '#calendar_table');
});
</script>
{% endblock %}