{% extends 'manager/base.html' %}
{% load i18n %}
{% block content %}
<section class="content-header">
  <h1>
    {% trans 'Мэдээ' %}
    <a href="{% url 'manager:manager_news_create' %}"><i class="fa fa-plus-circle"></i></a>
  </h1>
  <ol class="breadcrumb">
    <li><a href="{% url 'manager:manager_home' %}"><i class="fa fa-dashboard"></i> {% trans 'Нүүр' %}</a></li>
    <li class="active">{% trans 'Мэдээ' %}</li>
  </ol>
</section>
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="space10"></div>
      <div class="box">
        {% comment %}
        <div class="box-header">
          <h3 class="box-title">
            {% trans 'Мэдээ' %}
            
          </h3>
        </div>
        {% endcomment %}
        <div class="box-body">
          <table id="news_table" class="table table-bordered table-hover text-sm">
            <thead>
              <tr>
                <th>{% trans '№' %}</th>
                <th>{% trans 'Ангилал' %}</th>
                <th>{% trans 'Гарчиг' %}</th>
                <th>{% trans 'Үүсгэсэн' %}</th>
                <th>{% trans 'Мэдээ нэмсэн' %}</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for o in object_list %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ o.angilal }}</td>
                <td>{{ o.title }}</td>
                <td>{{ o.created_at|date:"Y:m:d   f" }}</td>
                <td>{{ o.created_by }}</td>
                <td>
                  {% if user.id == o.created_by.id %}
                  <a href="{% url 'manager:manager_news_update' o.id %}" class="btn btn-flat btn-primary btn-xs">
                    <i class="fa fa-edit"></i> {% trans 'Засварлах' %}
                  </a>
                  {% endif %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="box-footer">
          <div class="pull-right">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block extrajs %}
<script type="text/javascript">
  $(document).ready(function(){
    managerDatatable('#news_table');
  });
</script>
{% endblock %}