
{% load static %}
<!--div id="logo">

<li style="float: left"><img src="{% static 'image/trade.jpg' %}"></li>
</div>-->
<div id="menu">
   <ul class="list-inline">
      <li class="nav-item"><a class="nav-link active" href="{% url 'platform:home' %}" role="tab">Арилжаа</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'platform:news' %}">Мэдээ & Судалгаа</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'platform:account' %}">Данс</a></li>
      <li class="nav-item">
      <form class="form-inline">
       <input class="form-control" type="text" placeholder="Search">
       <button class="btn btn-outline-success" type="submit">Search</button>
   </form>
</li>
<li class="nav-item" style="float: right"><a class="nav-link" href="#log">Logout</a></li>
<li class="nav-item" style="float: right">
  <button type="button" class="btn btn-link btn-lg">
   <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
</button>
</li>
<li class="nav-item" style="float: right">
  <button type="button" class="btn btn-link btn-lg">
   <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
</button>
</li>
</ul>
</div>
