{% extends 'competition/base.html' %}
{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<span class="active">Watchlist</span>
					<span>Alert</span>
					</div>
				<div class="panel-body">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>{% lorem 10 w random %}</th>
								<th>{% lorem 10 w random %}</th>
								<th>{% lorem 10 w random %}</th>
								<th>{% lorem 10 w random %}</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>{% lorem 10 w random %}</td>
								<td>{% lorem 10 w random %}</td>
								<td>{% lorem 10 w random %}</td>
								<td>{% lorem 10 w random %}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="panel panel-default">
				<div class="panel-heading">Чарт</div>
				<div class="panel-body">123</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<span class="active">Арилжааны явц</span>
					<span>Захиалга</span>
				</div>
				<div class="panel-body">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>{% lorem 30 w random  %}</th>
								<th>{% lorem 30 w random  %}</th>
								<th>{% lorem 30 w random  %}</th>
								<th>{% lorem 30 w random  %}</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>{% lorem 30 w random  %}</td>
								<td>{% lorem 30 w random  %}</td>
								<td>{% lorem 30 w random  %}</td>
								<td>{% lorem 30 w random  %}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}