{% extends 'manager/base.html' %}
{% load i18n %}
{% block content %}
<section class="content-header">
  <h1>
    {% trans 'Админ хэрэглэгчид' %}
    <a href="{% url 'manager:manager_create' %}"><i class="fa fa-plus"></i></a>
  </h1>
  <ol class="breadcrumb">
    <li><a href="{% url 'manager:manager_home' %}"><i class="fa fa-dashboard"></i> {% trans 'Нүүр' %}</a></li>
    <li class="active">{% trans 'Админ хэрэглэгчид' %}</li>
  </ol>
</section>
<div class="content">
	<div class="row">
		<div class="col-md-12">
			<div class="box">
				<div class="box-body">
					<table id="managers" class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>№</th>
                <th>Э-мэйл</th>
                <th>Сүүлд нэвтэрсэн огноо</th>
                <th>Системд нэвтрэх эрх</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for manager in managers %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ manager.email }}</td>
                <td>{{ manager.last_login }}</td>
                <td><label class="label label-primary">{{ manager.is_active }}</label></td>
                <td>
                  <a href="" class="btn btn-flat btn-primary btn-xs">
                    <i class="fa fa-edit"></i> Засварлах
                  </a>
                  {% comment %}
                  <a href="#" class="btn btn-flat btn-danger btn-xs">
                    <i class="fa fa-trash-o"></i> Устгах
                  </a>
                  {% endcomment %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block extrajs %}
<script type="text/javascript">
  $(document).ready(function(){
    managerDatatable('#managers');
  });
</script>
{% endblock %}