{% include "manager/scripts.html" %}
<body class="hold-transition login-page">
  <div class="login-box">
    <div class="login-logo">
      <a href="{% url 'manager:manager_login' %}"><b>Monex</b></a>
    </div>
    <div class="login-box-body">
      <p class="login-box-msg">Нэвтрэх цонх</p>
      {% if form.non_field_errors %}
      {% for error in form.non_field_errors %}
      <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <i class="icon fa fa-ban"></i> {{ error }}
      </div>
      {% endfor %}
      {% endif %}
      <form method="post">{% csrf_token %}
        <div class="form-group {% if form.email.errors %}has-error{% endif %} has-feedback">
          {% if form.email.errors %}
          <label class="control-label errors" for="inputError"><i class="fa fa-times-circle-o"></i>
            {% for error in form.email.errors %}
              {{ error }}
            {% endfor %}
          </label>
          {% endif %}
          {{ form.email }}
        </div>
        <div class="form-group {% if form.password.errors %}has-error{% endif %} has-feedback">
          {% if form.password.errors %}
          <label class="control-label errors" for="inputError"><i class="fa fa-times-circle-o"></i>
            {% for error in form.password.errors %}
              {{ error }}
            {% endfor %}
          </label>
          {% endif %}
          {{ form.password }}
        </div>
        <div class="space10"></div>
        <div class="row">
          <div class="col-xs-8">
            <div class="checkbox icheck">
              <label>
                {{ form.remember_me }}  Намайг сана
              </label>
            </div>
          </div>
          <div class="col-xs-12">
            <button type="submit" class="btn btn-primary btn-block btn-flat">Нэвтрэх</button>
          </div>
        </div>
      </form>
      <a href="{% url 'manager:password_reset' %}">Нууц үгээ мартсан</a><br>
    </div>
  </div>
</body>
<script type="text/javascript">
  //$.get('https://openexchangerates.org/api/latest.json', {app_id: '10c73ccb4d0a43d988c8ab011fd90bf2'}, function(data) {
    //console.log(data);
  //});
</script>
{% include "config/error.html" %}
<script>
  $(function () {
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%' // optional
    });
  });
  {% if messages %}
    {% for m in messages %}
      $(document).ready(function(){
        $.notify(
          {
            message: '{{ m }}'
          },
          {
            type: '{% if m.tags == "error" %}danger{% else %}{{ m.tags }}{% endif %}',
            placement: {
              from: "top",
              align: "right"
            },
          }
        );
      });
    {% endfor %}
  {% endif %}
</script>