{% extends 'platform/ui/base.html' %}
{% block content %}
<div id="container" class="container-fluid watchlist">
  <div class="row">
    <div class="col-lg-6">
      <div class="watchlist-panel panel panel-default">
        <div class="panel-heading">
          <ul class="list-inline">
            <li class="active"><a class="ajax-load" load-url="{% url 'platform:currency' pk %}" href="#watchlist">Валют</a></li>
            {% comment %}
            <li><a class="ajax-load" load-url="{% url 'platform:stock' pk %}" href="#watchlist">Хувьцаа</a></li>
            {% endcomment %}
            <li><a class="ajax-load" load-url="{% url 'platform:alert' pk %}" href="#watchlist">Сэрүүлэг</a></li>
          </ul>
        </div>
        <div id="watchlist" class="panel-body scrolling">
          {% include 'platform/ui/currency.html' %}
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="watchlist-panel panel panel-default">
        <div class="panel-heading">
          <ul class="list-inline">
            {% comment %}
            <li class="active"><a href="#overview"><span class="active">Overview</span></a></li>
            {% endcomment %}
            <li class="active"><a href="#chart"><span>Chart</span></a></li>
          </ul> 
        </div>
        <div class="panel-body scrolling">
          <div class="watchlist-body">
            <span>USDMNT</span>
            <div class="pull-right">
              <button id="fullscreen" class="btn btn-xs btn-plat">FULL SCREEN</button>
              <button id="unlock" class="btn btn-xs btn-plat"><i class="fa fa-lock"></i></button>
            </div>
          </div>
          <div id="chartContainer" style="height: 80%; width: 100%;"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="watchlist-panel panel panel-default">
        <div class="panel-heading">
          <ul class="list-inline">
            <li class="active">
              <a class="ajax-load" load-url="{% url 'platform:currency_package' pk %}" href="#value">
                Валют
              </a>
            </li>
            {% comment %}
            <li>
              <a class="ajax-load" load-url="{% url 'platform:stock_value' pk %}" href="#value">
                Хувьцаа
              </a>
            </li>
            
            <li>
              <a class="ajax-load" load-url="{% url 'platform:order' pk %}" href="#value">
                Захиалга
              </a>
            </li>
            {% endcomment %}
          </ul>
        </div><!-- panel-heading -->
        <div class="panel-body" id="value" style="height: 75%;">
          {% include "platform/ui/currency/package.html" %}
        </div>
        <div class="panel-body text-center" style="height: 10%; margin-top: 5px; color: white;">
          <div class="row">
            <div class="col-lg-6" style="margin-top: 5px;">
              <span style="color: #888;">Миний түрийвч:</span>
              <span>100000000</span>
            </div>
            <div class="col-lg-6" style="margin-top: 5px;">
              <span style="color: #888;">Нийт ашиг:</span>
              <span>1000000</span>
            </div>
            {% comment %}
            <div class="col-lg-4" style="margin-top: 5px;">
              <span style="color: #888;">Cash available:</span>
              <span>100000000</span>
            </div>
            {% endcomment %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block extrajs %}
<script type="text/javascript">
  window.onload = function () {
    var chart = new CanvasJS.Chart("chartContainer", {
      //title: {
      //  text: "Basic Candle Stick Chart"
      //},
      zoomEnabled: true,
      axisY: {
        includeZero: false,
        //title: "Prices",
        //prefix: "$ "
      },
      //axisX: {
        //interval: 1,
        //intervalType: "hour",
        //valueFormatString: "HH:MM",
      //},
      backgroundColor: "#333",
      data: [
      {
        type: "candlestick",
        risingColor: "#F79B8E",
        dataPoints: [
        {% for d in datas %}
        {
          x: new Date({{ d.created_at.year }}, {{ d.created_at.month }}, {{ d.created_at.day }}, {{ d.created_at.hour }}, {{ d.created_at.minute }}, {{ d.created_at.second }}),
          y: [{{ d.buy }}, {{ d.buy }}, {{ d.sell }}, {{ d.sell }}]
        },
        {% endfor %}
        ]
      }
      ]
    });
    chart.render();
  }
</script>
<script type="text/javascript">
  $(document).on('click', '#unlock', function(){
    var myWindow = window.open("{% url 'platform:chart' pk %}", "", "width=600,height=400");
  });
</script>
<script type="text/javascript">
  $('#fullscreen').on('click', function(){
    $('#chartContainer').fullScreen(true)
  });
</script>
{% endblock %}

